
<div class="inner-container">
  <h1 class="frontpage-recommendation-title">Recommended for you</h1>
  <div class="frontpage-recommendations">
    <% @top_picks.each do |recommendation| %>
      <%= link_to recommendation, class: "frontpage-recommendation-item" do %>
        <%= image_tag frontpage_thumbnail(recommendation) %>
      <% end %>
    <% end %>
  </div>
</div>