.settings-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    i { margin-right: 10px }
    .menu {
        display: flex;
        flex-direction: column;
        width: 25%;
        a {
            color: #d3d3d3;
            padding: 10px;
            text-decoration: none;
        }
    }
    
    .settings {
        display: flex;
        flex-direction: column;
        width: 75%;
        border-radius: 10px;
        color: #f9f9f9;

        h1 {
            font-size: 1.4em;
            margin-bottom: 20px;
        }
        label {
            display: inline-flex;
            font-size: .8em;
            text-transform: uppercase;
            align-items: center;
            line-height: 1
        }

        .settings-block {
            background-color: #242424;
            border-radius: 10px;
            width: 100%;
            padding: 20px;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: #242424;
            margin: 30px 0;
        }
        .in-divider {
            height: 1px;
            width: 100%;
            background-color: #1d1d1d;
            margin: 5px 0;
        }
        .settings-media {
            width: 100%;  
            h1 {
                display: inline-flex;
                font-size: .8em;
                text-transform: uppercase;
                align-items: center;
                line-height: 1;
                margin: 0;
            }

            input[type="file"] {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            input[type="file"] + label {
                // display: inline-block;
                background-color: #c10000;
                border: none;
                width: 25%;
                box-sizing: border-box;
                padding: 10px;
                outline: none;
                border-radius: 10px;
                color: #f9f9f9;
                margin-top: 20px;
                font-size: .9em;
                transition: background-color .125s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            input[type="file"]:focus + label,
            input[type="file"] + label:hover {
                background-color: #a10101;
            }

            .media-banner {
                display: flex;
                flex-direction: column;
                img {
                    max-height: 120px;
                    border: 2px solid #525252;
                    width: 70%;
                    object-fit: cover;
                    object-position: 0 30%;
                    border-radius: 10px;
                    overflow: hidden;
                    margin: 15px 0 0 0;
                }               
            }
            .media-avatar {
                display: flex;
                flex-direction: column;
                img {
                    border: 2px solid #525252;
                    height: 100px;
                    width: 100px;
                    border-radius: 10px;
                    overflow: hidden;
                    margin: 15px 0 0 0;
                }         
            }
        }
        .settings-account {
            display: flex;
            flex-direction: column;
            input {
                width: 70%;
                box-sizing: border-box;
                padding: 10px;
                outline: none;
                background-color: #2c2c2c;
                border: 2px solid #525252;
                border-radius: 10px;
                margin: 15px 0 15px 0;
                color: #f9f9f9;
                font-size: .9em;
            }
            input[type="email"] {
                background-color: #525252;
            }
            input[type="submit"] {
                background-color: #c10000;
                border: none;
                width: 25%;
            }
        }
    }
}

.login-wrapper,
.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    form {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        width: 100%;
        margin: 100px auto 50px auto;
        padding: 20px;

        border-radius: 10px;
        background-color: #242424;

        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

        * {
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        a {
            color: #ebebeb;
            text-decoration: none;
            display: inline-block;
            &.omni-anchor {
                margin-top: 15px;
            }
        }

        label {
            color: #ebebeb;
            text-transform: uppercase;
            font-size: 14px;
        }

        input {
            height: 45px;
            padding: 10px;
            margin: 10px 0 10px 0;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: #303030;
            color: #ebebeb;
            transition: background-color 0.2s cubic-bezier(.4,.01,.54,.99);
            &:focus {
                background-color: #3b3b3b;
            }
            // border: 2px solid #212121
            &[type=submit] {
                background-color: #c10000;
                padding: 15px;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    background-color: #970000;
                }
            }
        }
        .auth-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a {
                color: #ebebeb;
            }
        }
        #user_remember_me {
            display: none;
        }

        .cbx {
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
        }
        .cbx span {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
        }
        .cbx span:first-child {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 3px;
            transform: scale(1);
            vertical-align: middle;
            border: 1px solid #ffffff;
            transition: all 0.2s ease;
        }
        .cbx span:first-child svg {
            position: absolute;
            top: 3px;
            left: 2px;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: all 0.3s ease;
            transition-delay: 0.1s;
            transform: translate3d(0, 0, 0);
        }
        .cbx span:first-child:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #c10000;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
        }
        .cbx span:last-child {
            padding-left: 8px;
        }
        .cbx:hover span:first-child {
            border-color: #c10000;
        }

        .inp-cbx:checked + .cbx span:first-child {
            background: #c10000;
            border-color: #c10000;
            // animation: wave 0.4s ease;
        }
        .inp-cbx:checked + .cbx span:first-child svg {
            stroke-dashoffset: 0;
        }
        .inp-cbx:checked + .cbx span:first-child:before {
            transform: scale(3.5);
            opacity: 0;
            transition: all 0.6s ease;
        }

        @keyframes wave {
            50% {
                transform: scale(0.9);
            }
        }

    }
}