.nav {
    display: flex;
    background-color: #101010;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    height:54px;
    align-items: center;

    form {
        flex: 1;
        input,
        button {
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 7px;
            background-color: #303030;
            color: #ebebeb;
            transition: background-color 0.2s cubic-bezier(.4,.01,.54,.99), max-width 0.2s cubic-bezier(.4,.01,.54,.99);
            &[type=text] {
                max-width: 250px;
                width: 100%;
                &:focus {
                    max-width: 300px;
                }
            }
            &:focus {
                background-color: #3b3b3b;
            }
        }
        button {
            // border-radius: 50px;
            width: 30px;
            height: 30px;
        }
    }
}

.nav .nav-main,
.nav .nav-right {
    display: flex;
    align-items: center;
}

.nav .nav-right {
    margin-left: auto;
}

.nav a {
    padding: 0 10px;
    font-size: 1.4em;
    text-decoration: none;
    color: #616161;
    transition: color .20s ease-in-out;
}

.nav a:hover {
    color: #3d3d3d;
}

.rounded-circle {
    border-radius: 100%;
}

.dropbtn {
    color: #000;
    font-size: 16px;
    border: none;
    background-color: #101010;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #101010;
    border-radius: 4px;
    top: 42px;
    right: 0;
    min-width: 160px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 1
}

.dropdown-content a {
    color: #b9b9b9;
    /* background-color: #ffffff; */
    padding: 12px 16px;
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: color .15s ease-in-out;
}

.dropbtn:hover,
.dropdown-content a:hover {
    color: #c10000;
}

.dropdown-content:after, .dropdown-content:before {
    bottom: 100%;
    right: 19px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-content:after {
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: #101010;
    border-width: 6px;
    margin-left: -6px;
}
.dropdown-content:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #323232;
    border-width: 6px;
    margin-left: -6px;
}