// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;

    .profile-banner {
        height: 230px;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        background-color: green;
        position: relative;
        transition: max-height .25s ease;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 30%;        
        }

        a {
            position: absolute;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 10px;
            bottom: 10px;
            padding: 10px;
            background-color: #10101060;
            color: #fff;
            font-size: 1.2em;
            border-radius: 50%;
            transition: background-color .14s ease-in-out;
            &:hover {
                background-color: #101010ab;
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0 5px 0;
        .profile-avatar {
            max-height: 100px;
            max-width: 100px;
            overflow: hidden;
            border-radius: 100%;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            background-color: #101010;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        
        .profile-user {
            display: flex;
            flex-direction: column;
            padding: 15px;
            .username {
                font-size: 1.5em;
                font-weight: 600;
                color: #ffffff;
            }
            
            .sub-count {
                margin-top: 3px;
                font-size: 1.1em;
                color: #828282;
            }
        }
        
        
        .profile-subscribe {
            margin-left: auto;
            a {
                font-size: 1.15em;
                text-decoration: none;
                color: #ffffff;
                background-color: #c10000;
                padding: 10px;        
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
                transition: width .13s ease-in-out, background-color .13s ease-in-out;
                &:hover {
                    background-color: #9b0101;
                }
            }
            
        }
    }

    .profile-menu {
        display: flex;
        flex-direction: row;
        a {
            padding: 7px 12px;
            text-decoration: none;
            font-size: 1.2em;
            color: #c3c3c3;
            &.active {
                color: #c10000;
                border-bottom: 3px solid #c10000;
            }
        }
    }
    
    .section {
        color: #c3c3c3;
        font-size: 1.3em;
        margin-top: 10px;
        padding: 10px 0;
        border-bottom: 2px solid #c10000;
        display: table; /* don't question it */
    }

    .profile-recent {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        .thumbnail-wrapper {
            max-height: 250px;
            max-width: 450px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: max-width .125s ease;
            img {
                max-height: inherit;
                max-width: inherit;
                border-radius: 10px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
                overflow: hidden;
                width: 100%;
                height: 100%;
                opacity: .85;
                transition: opacity .125s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
            .duration {
                position: absolute;
                border-radius: 10px;
                padding: 5px;
                background-color: #10101060;
                bottom: 5px;
                right: 8px;
                color: #ffffff;
                font-size: .8em;
            } 
        }
        .info {
            padding: 20px;
            width: 60%;
            display: flex;
            flex-direction: column;
            .title {
                font-size: 1.3em;
                font-weight: 600;
                color: #c3c3c3;
            }
            .description {
                max-width: 600px;
                max-height: 300px;
                color: #828282;
                padding: 20px 0;
                line-height: 1.1em;
                word-wrap: break-word;
                overflow-wrap: break-word;
                hyphens: auto;
            }
            .details {
                margin-top: auto;
                color: #828282;
                font-size: .9em;
            }
        }
    }

    .profile-uploads {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-left: -10px;
        .upload {
            overflow: hidden;
            width: calc(25% - 10px);
            margin-left: 10px;
            margin-top: 15px;
            a {
                text-decoration: none;
            }
            img {
                border-radius: 10px;
                width: 100%;
                margin-bottom: 7px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
                opacity: .85;
                transition: opacity .125s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }

            .row {
                display: flex;
                flex-direction: row;
                padding: 0;
                span {
                    font-size: 1em;
                    color: #c3c3c3;
                    &.duration {
                        margin-left: auto;
                    }
                }
            }
        }      
    }
    @media only screen and (max-width: 1200px) {
        .profile-banner {
            max-height: 230px;
        }
        .profile-uploads .upload {
            width: calc(33% - 10px);
        }
    }

    @media only screen and (max-width: 900px) {
        .profile-banner {
            max-height: 180px;
        }
        .profile-uploads .upload {
            width: calc(50% - 10px);
        }
        .profile-recent {
            flex-direction: row;
            max-width: 100%;
            .info {
                padding: 20px;
                .description {
                    max-width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
    
    @media only screen and (max-width: 600px) {
        .profile-banner {
            max-height: 150px;
        }
        
        .profile-uploads .upload {
            width: calc(100% - 10px);
        }
        .profile-recent {
            flex-direction: column;
            max-width: 100%;
            .thumbnail-wrapper {
                max-width: 600px;
                max-height: 315px;
            }
            .info {
                width: 100%;
                padding: 20px 0;
                .description {
                    max-width: 100%;
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        .profile-banner {
            max-height: 150px;
        }
        
        .profile-uploads .upload {
            width: calc(100% - 10px);
        }
        .profile-recent {
            flex-direction: column;
            max-width: 100%;
            .thumbnail-wrapper {
                max-width: 600px;
                max-height: 315px;
            }
            .info {
                width: 100%;
                padding: 20px 0;
                .description {
                    max-width: 100%;
                }
            }
        }
    }
}
                        
.subscribe-btn--grey {
    background-color: #393939 !important;
}
