// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
    display: flex;
}
.video-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
}
.video-view {
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.video-info {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.video-info h1 {
    word-break: break-word;
}

.video-info h1.title {
    font-size: 1.3em;
    color: #ffffff;
}
.video-info span.video-views {
    font-size: 1em;
    color: #828282;
}

.video-info {
    display: flex;
    flex-direction: column;
}

.video-meta {
    display: flex;
    flex-direction: row;
}

.video-meta-items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 0;
}

.video-meta-items .video-meta-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 12px;
    background-color: #292929;
    color: #9e9e9e;
    margin: 0 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color .15s ease-in-out;
}

.video-meta-items .video-meta-item:hover {
    background-color: #313131;
}

.video-description {
    width: 100%;
    border-top: 1px solid #232323;
    padding-top: 15px
}

.video-uploader-meta {
    display: flex;
    flex-direction: row;
}

.video-uploader-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video-uploader-info .name {
    font-size: 1.1em;
    color: #e4e4e4;
    text-decoration: none;
}

.video-uploader-info .subscriber-count {
    font-size: 1em;
    color: #7d7d7d;
    padding: 5px 0;
}

.video-description-content {
    padding-top: 10px;
    color: #c3c3c3;
}

.fixed-profile-pic {
    width: 48px;
    height: 48px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    animation: shine-lines-avatar .8s infinite ease;
}

.subscribe-btn {
    padding: 10px;
    background-color: #c10000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    height: 35px;
}

.subscribe-btn--grey {
    background-color: #747474;
}

.suggestions-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%
}
.suggestion-clickable {
    text-decoration: none;
    margin-bottom: 7px;
}
.suggestion-card {
    display: flex;
    flex-direction: row;
}
.suggestion-image {
    border-radius: 5px;
    max-width: 168px;
    max-height: 94px;
    width: 168px;
    height: 94px;
    object-fit: cover;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    opacity: .90;
    transition: opacity .15s ease-in-out;
    animation: shine-lines .8s infinite ease-out;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

@keyframes shine-lines {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 168px;
    }
}

@keyframes shine-lines-avatar {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 48px;
    }
}

.suggestion-clickable:hover .suggestion-image {
    opacity: 1;
}

.suggestion-meta {
    padding: 2px 0 0 7px;
    display: flex;
    flex-direction: column;
}
.suggestion-meta span.title {
    font-size: 1.1em;
    color: #b9b9b9;
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
    width: 100%;
}
.suggestion-meta span.author {
    font-size: 1em;
    color: #717171;
    max-width: 100px;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

// @media only screen and (max-width: 1000px) {
//     .video-column {
//         width: 65%
//     }
//     .suggestions-column {
//         width: 35%
//     }
// }

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .video-column,
    .suggestions-column {
        width: 100%;
        padding: 10px;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.frontpage-recommendations {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-left: -5px;
}

.frontpage-recommendation-item {
    width: calc(25% - 5px);
    height: 180px;
    margin-left: 5px;
    margin-top: 5px;
}

.frontpage-recommendation-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    animation: shine-lines-recommendation .8s infinite ease-out;
}

@keyframes shine-lines-recommendation {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: calc(25% - 5px);
    }
}