// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
    display: flex;
}
.video-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
}
.video-view {
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.video-info {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.video-info h1 {
    word-break: break-word;
}

.video-info h1.title {
    font-size: 1.3em;
    color: #212121;
}
.video-info span.video-views {
    font-size: 1em;
    color: #525151;
}

.video-info {
    display: flex;
    flex-direction: column;
}

.video-meta {
    display: flex;
    flex-direction: row;
}

.video-meta-items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.video-meta-items .video-meta-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 12px;
    background-color: #f3f3f3;
    color: #525151;
    margin: 0 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color .15s ease-in-out;
}

.video-meta-items .video-meta-item:hover {
    background-color: #e4e2e2;
}

.suggestions-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%
}
.suggestion-clickable {
    text-decoration: none;
    margin-bottom: 7px;
}
.suggestion-card {
    display: flex;
    flex-direction: row;
}
.suggestion-image {
    border-radius: 5px;
    max-width: 168px;
    max-height: 94px;
    width: 100%;
    height: 100%;
}
.suggestion-meta {
    padding: 2px 0 0 7px;
    display: flex;
    flex-direction: column;
}
.suggestion-meta span.title {
    font-size: 1.1em;
    color: #3f3f3f;
}
.suggestion-meta span.author {
    font-size: 1em;
    color: #504f4f;
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .video-column,
    .suggestions-column {
        width: 100%;
        padding: 10px;
    }
}